body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #0d1117;
  color: white;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
